.volunteerSection {
    background-color: #f1f1f1;
    padding: 4rem 6rem;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    >p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.6;
    }
}

.volunteerCards {    
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;    

    article {
        background-color: #fff;
        width: 480px;
        padding: 24px;
        border: 1px solid #000;
        border-radius: 8px;
        text-align: center;

        h3 {
            font-size: 1.7rem;
            margin: 1rem;
            font-weight: 700;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.5;
        }
    }
}

.form {
    background-color: #00745A;
}