.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;

    .content {
        max-width: 480px;

        h1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 1.1;
            margin: 1.5rem 0;
            color: #000;
            text-shadow: 2px 4px #c7c7c7;
        }

        p {
            font-size: 1.3rem;
            color: #444;
            line-height: 1.6;
            margin: 2rem 0;
            text-align: justify;
        }

        .buttonGroup {
            display: flex;
            gap: 2rem;

            .primaryBtn {
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                background-color: #00745A;
                color: #fff;

                &:hover {
                    background-color: #064939;
                }
            }

            .secondaryBtn {
                padding: 12px 24px;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 500;
                font-size: 1rem;
                border: 2px solid #00745A;
                color: #00745A;

                &:hover {
                    border: 2px solid #064939;
                    color: #064939;
                }
            }
        }
    }
}

.missionSection {
    padding: 4rem 6rem;
    background-color: #00745A;
    color: #fff;    

    h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    >p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.6;
    }

    .cards {
        display: flex;  
        justify-content: center;      
        gap: 1.5rem;
        flex-wrap: wrap;
         margin-bottom: 2rem;

        article {
            width: 480px;
            min-height: 200px;
            padding: 24px;
            border: 1px solid #BCE4D7;
            border-radius: 8px;
            text-align: center;


            h3 {
                font-size: 1.5rem;
                margin: 1rem;
                font-weight: 600;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.5;
            }
        }
    }
}

.impactSection {
    padding: 4rem 6rem;
    color: #000;

    h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }

    >p {
        font-size: 1.5rem;
        margin-bottom: 3rem;
        line-height: 1.6;
    }

    .statsCards {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        article {
            width: 350px;
            padding: 34px 0;
            border: 1px solid #000;
            border-radius: 8px;
            text-align: center;

            h3 {
                font-size: 2.2rem;
                margin: 1rem;
                font-weight: 700;
                color: #00745A;
            }

            p {
                font-size: 1.1rem;
                line-height: 1.5;
            }
        }
    }
}