.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  border-bottom: 2px solid #c7c7c7;  

  flex-wrap: wrap; 

  .boxLogo {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    a {
      text-decoration: none;
      color: #000;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #00745A;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      text-decoration: none;
      color: #000;

      &:nth-child(2) {
        background-color: #00745A;
        color: #fff;
        padding: 0.6rem 1.3rem;
        border-radius: 8px;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem; 

    .hamburger {
      display: block; 
    }

    nav {
      display: none; 
      width: 100%;   
      flex-direction: column; 
      padding-top: 1rem;
      gap: 1rem;
      text-align: center;

      &.active {
        display: flex;
      }
 
      a:nth-child(2) {
        width: 100%;
        text-align: center;
      }
    }
  }
}