.footer {
    background-color: #0B0B0B;
    color: #fff;
    padding: 3rem 2rem 1rem 2rem;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 4rem;
        padding-bottom: 2rem;
        max-width: 1200px;
    }

    .column {
        flex: 1;
        min-width: 250px;

        h3 {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            font-weight: bold;
        }
    }

    .logoArea {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 1.5rem;

        img {
            width: 40px;
            height: auto;
        }

        h2 {
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    .description {
        font-size: 0.95rem;
        line-height: 1.6;
        max-width: 300px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 1rem;
            font-size: 0.95rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            img {
                width: 20px;
                height: auto;
                display: block;
            }

            a {
                text-decoration: none;
                color: #fff;
                transition: color 0.3s ease;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .note {
        border-top: 1px solid #333;
        text-align: center;
        padding-top: 1.5rem;
        margin-top: 1rem;

        p {
            font-size: 0.85rem;
            color: #c7c7c7;
            margin-bottom: 1rem;
        }
    }
}